$white: #ffffff;
$almost-white: #f3f3f3;
$dark-gray: #595959;
$light-gray: #7c7c7c;
$aqua: #1f98ad;
$light-aqua: #64c9db;
$fontsize-midheader: 24px;
$fontfamily: "Raleway", Arial, sans-serif;
$sectionPaddingTop: 42px;
