.about-band {
  padding-top: 35px;
  padding-bottom: 65px;

  color: $dark-gray;

  background-image: url(../images/bg_about-band.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @include minwidth;

  &__wr {
    @include section-wr(1180px);
  }

  &__title {
    @include section-header;

    &:after {
      background-image: url(../images/pic_about-band-feather.png);
    }
  }

  &__tabs-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__tabs-radio {
    display: none;
  }

  &__tabs-nav a {
    font-weight: 800;
    font-size: $fontsize-midheader;
    color: $dark-gray;
    text-transform: uppercase;
    text-decoration: none;

    opacity: 0.5;
  }

  &__tabs-nav--active a {
    opacity: 1;
  }

  &__block {
    display: none;
    padding-top: 40px;

    & p {
      font-size: 16px;
      line-height: 30px;
      color: $light-gray;
      text-transform: uppercase;
    }
  }
  &__block--active {
    display: block;
  }

  &__block-title {
    font-size: $fontsize-midheader;
    text-transform: uppercase;
  }

  &__musicians-wr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__musician {
    position: relative;

    width: 288px;
    margin-bottom: 220px;

    text-align: center;

    &-more {
      position: absolute;
      top: 0;
      left: 0;

      display: none;
      padding: 29px 23px;

      text-align: left;
      color: $white;

      background-color: rgba(240,84,50,0.8);

      // &:after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //
      //   width: 100%;
      //
      //   mix-blend-mode: color-dodge;
      // }
    }

    &-role {
      margin-bottom: 40px;

      font-weight: 800;
      font-size: 24px;
      text-transform: uppercase;
    }

    &-name {
      margin-bottom: 25px;

      font-size: 24px;
      text-transform: uppercase;
    }

    &-desrc {
      font-size: 16px;
      line-height: 30px;
      text-transform: uppercase;
    }

    &:hover &-more {
      display: block;
    }
  }

  &__musician-photo {
    img {
      padding-top: 4px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 288px;
      height: 460px;

      background-repeat: no-repeat;
    }
  }

  &__musician-photo--vocals {
    &:after {
      left: -24px;

      background-image: url(../images/pic_musician-mask-vocals.png);
    }
  }

  &__musician-photo--solo {
    &:after {
      left: 20px;

      background-image: url(../images/pic_musician-mask-solo.png);
    }
  }

  &__musician-photo--bass {
    &:after {
      left: 18px;

      background-image: url(../images/pic_musician-mask-bass.png);
    }
  }

  &__musician-photo--drums {
    &:after {
      left: 22px;

      background-image: url(../images/pic_musician-mask-drums.png);
    }
  }
}
